In [3]:
import pandas as pd
import numpy as np

In [ ]:
s1 = pd.Series([],[])
print("s1:\n",s1)
s2 = pd.Series(['one' , 'two', 'three', 'four'], [1, 2, 3, 4])
print("s2:\n",s2)
s3 = pd.Series(('one', 'two', 'three', 'four'), [1, 2, 3, 4])
print("s3:\n",s3)
s4 = pd.Series(('one' , 'two', 'three', 'four'), (1, 2, 3, 4))
print("s4:\n",s4)
s5 = pd.Series({1 : 'one', 2: 'two', 3: 'three', 4: 'four'})
print("s5:\n",s5)

# s6 = pd.Series({'one', 'two', 'three', 'four'}, [1, 2, 3, 4])
# print("s6:\n",s6)

#689 if isinstance(data, (set, frozenset)):
#--> 690     raise TypeError(f"'{type(data).__name__}' type is unordered")

# s7 = pd.Series(1, 2)
# print("s7:\n",s7)

#TypeError: Index(...) must be called with a collection of some kind, 2 was passed

s8 = pd.Series(['one', 'two', 'three', 'four'])
print("s8:\n",s8)

s1:
 Series([], dtype: object)
s2:
 1      one
2      two
3    three
4     four
dtype: object
s3:
 1      one
2      two
3    three
4     four
dtype: object
s4:
 1      one
2      two
3    three
4     four
dtype: object
s5:
 1      one
2      two
3    three
4     four
dtype: object
0      one
1      two
2    three
3     four
dtype: object

In [18]:
#gwt element value from Series
s5 = pd.Series([1, 2, 3, 4, 5], index = ['a' ,'b', 'c', 'd', 'e'])
print(s5)
print("Cach 1:", s5['a'])
print("Cach 2:", s5[0])
print("Tu deu den can 2")
print(s5[:2])

a    1
b    2
c    3
d    4
e    5
dtype: int64
Cach 1: 1
Cach 2: 1
Tu deu den can 2
a    1
b    2
dtype: int64

C:\Users\Acer\AppData\Local\Temp\ipykernel_13872\1420159837.py:5: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print("Cach 2:", s5[0])

In [ ]:
# Cap nhat phan tu
s3 = pd.Series([12, 21, 11], index = ['idx1', 'idx2', 'idx3'])
s3['idx3'] = 100
print(s3)

idx1     12
idx2     21
idx3    100
dtype: int64

In [22]:
# Them phan tu
s = pd.Series(['a', 'b', 'c', 'd', 'e'], index = [5, 2, 3, 4, 5])
print("Before:\n", s)
s['f'] = 6
print("After: \n", s)

Before:
 5    a
2    b
3    c
4    d
5    e
dtype: object
After:
 5    a
2    b
3    c
4    d
5    e
f    6
dtype: object

In [27]:
#Xoa phan tu
print(s)
s.drop(['a','e'])
print(s)

5    a
2    b
3    c
4    d
5    e
f    6
dtype: object

KeyError: "['a' 'e'] not found in axis"

In [48]:
s2 = pd.Series([1, 2, 3, 4, 5], index = ['a', 'b', 'c', 'd', 'e'])
print(s2)
s3 = s2.drop(s2.index[[0, 2, 4]])
print(s3)
print(s2.values)

a    1
b    2
c    3
d    4
e    5
dtype: int64
b    2
d    4
dtype: int64
[1 2 3 4 5]

In [84]:
s2 = pd.Series([1, 2, 3, 4, 5], index = ['a', 'b', 'c', 'd', 'e'])
print(s2.values[0])

1

In [ ]:
#Tao DataFrame
lst2 = [['Bibi',7], ['Xuxu', 5], ['Kent', 10]]
df2 = pd.DataFrame(lst2, columns=['Name','Age'])
print(df2)
sr2 = pd.Series(lst2, index=[1,2,3])

   Name  Age
0  Bibi    7
1  Xuxu    5
2  Kent   10
1     [Bibi, 7]
2     [Xuxu, 5]
3    [Kent, 10]
dtype: object

In [66]:
dic1 = {'Name':['Bibi', 'Xuxu', 'Kent', 'Mickey'], 'Age': [7, 5, 10, 3]}
df3 = pd.DataFrame(dic1, index=['sv1','sv2','sv3','sv4'])
print(df3)

       Name  Age
sv1    Bibi    7
sv2    Xuxu    5
sv3    Kent   10
sv4  Mickey    3

In [71]:
data = [{'Ten': 'An', 'Tuoi': 12, 'Diem': 8.5}, {'Ten': 'Hoa', 'Tuoi': 12, 'Diem': 7.5}, {'Ten': 'An', 'Tuoi': 12} ]
df = pd.DataFrame(data, index = ['st1', 'st2', 'st3'])
print(df)
df1 = pd.DataFrame(data, index=None, columns=None)
print(df1)

     Ten  Tuoi  Diem
st1   An    12   8.5
st2  Hoa    12   7.5
st3   An    12   NaN
   Ten  Tuoi  Diem
0   An    12   8.5
1  Hoa    12   7.5
2   An    12   NaN

In [ ]:
data = [{'a' : 1, 'b': 2}, {'a': 5, 'b': 10 , 'c':20}]
# 2 cot, ten cot la ten key cua dictionary
df1 = pd.DataFrame(data, index=['first', 'second'], columns=['a', 'b'])
print(df1)
# 2 cot, ten cot la ten key cua dictionary, ten mot cot khac

In [77]:
# Create a DataFrame from Dict of Series
d = { 'one': pd.Series([1, 2, 3], index=['a', 'b', 'c']),
      'two': pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd']),
      'three' : pd.Series([1, 2, 3], index=['a', 'b', 'c']), 
}
df5 = pd.DataFrame(d, columns=['one', 'two', 'three'])
print(df5)

   one  two  three
a  1.0    1    1.0
b  2.0    2    2.0
c  3.0    3    3.0
d  NaN    4    NaN

In [79]:
print(df5.loc['a', 'one'])

1.0